{% extends "theme/basic.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="loginColumns animated fadeInDown">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-6">
        <h2 class="font-bold">Sign in</h2>
        <p>To be able to use our system you will need to sign in with a valid account.</p>
        <p>Once this has been done feel free to setup your servers and start sending us metrics we will handle all the
          rest</p>
        <p>
          <small>Having problems? Contact support at
            <a href="mailto:support@cyberbyte.org.uk">support@cyberbyte.org.uk</a></small>
        </p>

      </div>
      <div class="col-md-6">
        <div class="ibox-content">
          <form class="m-t login" role="form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-primary block full-width m-b primaryAction"
                    type="submit">{% trans "Sign In" %}</button>
            <a href="{% url 'account_reset_password' %}">
              <small>{% trans "Forgot Password?" %}</small>
            </a>

            <p class="text-muted text-center">
              <small>Do not have an account?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="{% url "account_signup" %} ">Create an account</a>
          </form>
          <p class="m-t">
            <small>Remember to look at our privacy policy</small>
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        Copyright &copy; {% now "Y" %} <a href="https://cyberbyte.org.uk">Cyberbyte Studios</a>
      </div>
    </div>
  </div>
{% endblock %}

