{% extends "account/password.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block password_box %}
  <h2 class="font-bold">{% trans "Set Password" %}</h2>
  <div class="row">
    <div class="col-lg-12">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_set m-t">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary block full-width m-b" type="submit"
                name="action">{% trans "Set Password" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
