{% extends "theme/basic.html" %}

{% block content %}
  <div class="passwordBox animated fadeInDown">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          {% block password_box %}{% endblock %}
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        Copyright &copy; {% now "Y" %} <a href="https://cyberbyte.org.uk">Cyberbyte Studios</a>
      </div>
    </div>
  </div>
{% endblock %}
