{% extends "base.html" %}

{% block content %}
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
            Sign Up Now
          </div>
          <div class="ibox-content">
            <div class="panel-group payments-method" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <i class="fa fa-cc-paypal text-success"></i>
                  </div>
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PayPal</a>
                  </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-md-10">
                        <h2>Summary</h2>
                        <strong>Product:</strong> {{ plan.name }}<br/>
                        <strong>Price:</strong> <span class="text-navy">£{{ plan.price }}</span>
                        <p class="m-t">{{ plan.description }}</p>

                        <a class="btn btn-success">
                          <i class="fa fa-cc-paypal">
                            Purchase via PayPal
                          </i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-right">
                    <i class="fa fa-cc-amex text-success"></i>
                    <i class="fa fa-cc-mastercard text-warning"></i>
                    <i class="fa fa-cc-discover text-danger"></i>
                  </div>
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Credit Card</a>
                  </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">

                    <div class="row">
                      <div class="col-md-4">
                        <h2>Summary</h2>
                        <strong>Product:</strong> {{ plan.name }}<br/>
                        <strong>Price:</strong> <span class="text-navy">£{{ plan.price }}</span>
                        <p class="m-t">{{ plan.description }}</p>
                        <p>All credit card payments are handled by Braintree on there secure payments and we do not have
                          access to ant of your payment details. If you want to know more contact support</p>
                      </div>
                      <div class="col-md-8">
                        <form role="form" id="payment-form">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="form-group">
                                <label>CARD NUMBER</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" name="Number" placeholder="Valid Card Number"
                                         required/>
                                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-7 col-md-7">
                              <div class="form-group">
                                <label>EXPIRATION DATE</label>
                                <input type="text" class="form-control" name="expiry" placeholder="MM / YY" required/>
                              </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                              <div class="form-group">
                                <label>Security(CVC) CODE</label>
                                <input type="text" class="form-control" name="security-code" placeholder="CVC" required/>
                              </div>
                            </div>
                            <div class="col-xs-12 col-md-5 pull-right">
                              <div class="form-group">
                                <label>POST CODE</label>
                                <input type="text" class="form-control" name="postal-code" placeholder="Post Code" required/>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12">
                              <button class="btn btn-primary" type="submit">Make a payment!</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
