{% extends "theme/basic.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
  <div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Page not found</h3>

    <div class="error-desc">
      Sorry, but the page you are looking for cannot been found. Try checking the URL for error and the refresh button
      on your browser.
      {% if request.sentry.id %}
        Your error tracking code is: <strong>{{ request.sentry.id }}</strong>
      {% endif %}
    </div>
  </div>
{% endblock content %}
