{% load staticfiles i18n compress %}<!DOCTYPE html>
<html lang="en">
{% include "theme/head.html" %}
<body>
{% include "theme/navbar.html" %}

<div id="page-wrapper" class="gray-bg">
  {% include "theme/topbar.html" %}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        {% block content %}
          <div class="text-center m-t-lg">
            <h1>
              Welcome in INSPINIA Static SeedProject
            </h1>
            <small>
              It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp
              projects and dev environment for these projects.
            </small>
        </div>
        {% endblock content %}
      </div>
    </div>
  </div>
</div>

{% block modal %}{% endblock modal %}

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
          integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
</body>
</html>

