{% load staticfiles i18n compress %}<!DOCTYPE html>
<html lang="en">
{% include "theme/head.html" %}
<body>
{% include "theme/navbar.html" %}

<div id="page-wrapper" class="gray-bg">
  {% include "theme/topbar.html" %}

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% block content %}
          <div class="text-center m-t-lg">
            <h1>
              Welcome in INSPINIA Static SeedProject
            </h1>
            <small>
              It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp
              projects and dev environment for these projects.
            </small>
        </div>
        {% endblock content %}
      </div>
    </div>
  </div>
</div>

{% block modal %}{% endblock %}

{% block javascript %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

  <!-- sam remove this -->
  <script type="text/javascript" src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
  <script>
    $(".line").peity("line",{
            fill: '#1ab394',
            stroke:'#169c81',
            width: 200,
        })
  </script>
  {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}
  {% block scripts %}{% endblock %}t
{% endblock javascript %}
</body>
</html>
